---
layout: default
title: CityCampSavannah
description: CityCampSavannah is a daylong unconference on municipal budgeting and innovation.
keywords: budget, savannah, citycamp, opensavannah, code for america
section_id: home
slides:
  image:
    - bg: assets/images/1920x1200.jpg
    - bg: assets/images/1920x1200.jpg
    - bg: assets/images/1920x1200.jpg
  heading: "Be in the room where it happens."
  subHeading: "A daylong <em> real </em>dialogue between city and citizens."
  button:
    text: Register Today
    target: "#registration_form"
---
{% include header.html %}
{% include banner.html %}
{% include timer.html %}
{% include about-us.html %}
{% include more-info.html %}
{% include quick-book.html %}
{% include schedule.html %}
{% include pricing.html %}
{% include faq.html %}
{% include contact-us.html %}
{% include sponsors.html %}

