---
layout: default
title: Alavida
description: Alavida - healthcare
keywords: healthcare
section_id: home
slides:
  image:
    - bg: assets/images/1920x1200.jpg
    - bg: assets/images/1920x1200.jpg
    - bg: assets/images/1920x1200.jpg
  heading: "Be in the room where it happens."
  subHeading: "A daylong <em>real </em>discussion between city and citizens."
  button:
    text: Register Today
    target: "#registration_form"
---
{% include header.html %}
{% include banner.html %}
{% include timer.html %}
{% include about-us.html %}
{% include more-info.html %}
{% include quick-book.html %}
{% include schedule.html %}
{% include testimonials.html %}
{% include pricing.html %}
{% include faq.html %}
{% include contact-us.html %}
{% include sponsors.html %}