<!-- Contact-Us -->
<section id="contact_us" class="section-padding contact_style2">
	<div class="container">
		<div class="section-header style2_h text-center">
			<h2>{{site.data.contact.sectionHeading}}</h2>
			<p>{{site.data.contact.desc}}</p>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="venu_info">
					<div class="venu_icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
					<h4>Location</h4>
					<p>{{site.data.contact.location}}</p>
				</div>
			</div>
			<div class="col-md-8">
				<div class="venu_map map_wrap">
					<iframe src="{{site.data.contact.map}}" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /Contact-Us -->