<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>CityCampSAV: Budget and Beyond Summit</title>
    <!--Bootstrap -->
<link rel="stylesheet" href="{{ relBase }}assets/css/bootstrap.min.css" type="text/css">
    <!--Custome Style -->
    <link rel="stylesheet" href="{{ relBase }}assets/css/style.css" type="text/css">
    <!--OWL Carousel slider-->
    <link rel="stylesheet" href="{{ relBase }}assets/css/owl.carousel.css" type="text/css">
	<!--
    <link rel="stylesheet" href="assets/css/owl.transitions.css" type="text/css">
	-->
    <!--FontAwesome Font Style -->
<link href="{{ relBase }}assets/css/font-awesome.min.css" rel="stylesheet"> 


    <!-- Color-CSS -->
    <link rel="stylesheet" type="text/css" href="{{ relBase }}assets/css/color/green.css">
    <!--<link rel="stylesheet" type="text/css" href="assets/css/color/orange.css">-->
    <!--<link rel="stylesheet" type="text/css" href="assets/css/color/green.css">-->
    <!--<link rel="stylesheet" type="text/css" href="assets/css/color/blue.css">-->
    <!--<link rel="stylesheet" type="text/css" href="assets/css/color/pink.css">-->
    <!--<link rel="stylesheet" type="text/css" href="assets/css/color/purple.css">-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ relBase }}assets/images/favicon-icon/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ relBase }}assets/images/favicon-icon/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ relBase }}assets/images/favicon-icon/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{ relBase }}assets/images/favicon-icon/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="{{ relBase }}assets/images/favicon-icon/favicon.png">
    <!-- Google-Font-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>