<!--Registration Form-->
<div id="privacy-policy" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content padding_4x4_40 text-center">
			<div class="modal-header">
				<h3>Privacy Policy</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<div style="width:100%; text-align:left;"><!-- Termly Tracking Code -->

<iframe width="100%" style="height: 95vh" src="https://app.termly.io/document/privacy-policy/7b7babae-3919-4de4-919b-185831b6f379" frameborder="0" allowfullscreen>
  <p>Your browser does not support iframes.</p>
</iframe></div>
			
			</div>
		</div>
	</div>
</div>