<!-- Schedule -->
<section id="schedule" class="section-padding">
	<div class="container">
		<div class="section-header style2_h text-center">
			<h2>{{ site.data.schedule.sectionHeading}}</h2>
			<p>{{ site.data.schedule.desc}}</p>
		</div>
		<div class="schedule_wrap">
			<!-- Nav tabs -->
			<iframe src="{{ site.data.schedule.scheduleFrameUrl}}" width="100%" height="700" frameBorder="0" style="background: transparent; border: 1px solid #dedede;"></iframe>
				<!--/Day-4-schedule-->
		</div>
	</div>
	<div class="text-center margin-top-40">
		<p class="pdf_file">
			<a href="{{ site.data.schedule.btntextUrl}}" target="_blank" class="btn outline-btn"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> 
			{{ site.data.schedule.btntext}}  </a>
		</p>
	</div>
	</div>
</section>
<!-- /Schedule -->