<!-- Sponsors -->
    <section id="sponsors">
        <div class="container">
            <ul>
				{% for item in site.data.sponsors %}		
                 <li>
                    <a href="{{item.link}}"><img src="{{item.image}}" alt="image"></a>
                </li>
				{% endfor %}
            </ul>
            	<div class="text-center margin-top-40">
		<p class="pdf_file">
			<a href="{{ site.data.schedule.btntextUrl}}" target="_blank" class="btn outline-btn"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> 
			View Sponsorship Prospectus </a>
		</p>
	</div>
        </div>
    </section>
    <!-- /Sponsors -->